/.phpunit.cache
/node_modules

storage/mpdf

# public: ignore everything under it…
/public/**

# …but re-allow any entry directly inside public
!/public/*

# …and then re-ignore all directories under public
/public/*/

# Allow certs folder and its contents
!/public/certs/
!/public/certs/**

/storage/*.key
/vendor
.env
.env.backup
composer.lock
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
